*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.intro{
    background-image: url("./assets/introbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.client-card{
    position: relative;
}
.image-box{
    position: absolute;
    top: -75px; 
    left: 50%;
    transform: translateX(-50%);
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 320px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    
  }
  