*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
  scroll-behavior: smooth;
}
.intro{
    background-image: url("./assets/introbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.logo-part1{
  position: relative;
}
.logo{
  position: absolute;
  top: 55%;
  left: -52px;
  transform: translatey(-60%);
}
.service-box{
  position: relative;
}
.serv-img{
  position: absolute;
top: 20%;
left: 50%;
transform: translateX(-50%);

}
.client-card{
    position: relative;
}
.image-box{
    position: absolute;
    top: -75px; 
    left: 50%;
    transform: translateX(-50%);
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 375px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    
  }
  /* intro box style */
.docName{
  position: absolute;
 top:50%;
 left: -85%;
 transform: translateY(-50%);
}  
.docName2{
  position: absolute;
  top:50%;
  left: -50%;
  transform: translateY(-50%);
}
.docName3{
  position: absolute;
  top:50%;
  right: -30%;
  transform: translateY(-50%);
}
.docName4{
  position: absolute;
  top:55%;
  right: -50%;
  transform: translateY(-50%);
}
.docbox1{
  top: 5%;
  right: 20%;
}
.docbox2{
  top: 32%;
  left: 26%;
  
}
.docbox3{
  top: 41%;
 right: 9%
}
.docbox4{
  top: 60%;
left: 32%;
}
.img-box1{
  width:190px;
  height: 240px;
}
.img-box2{
  width: 190px;
  height: 190px;
}
@media only screen and (max-width:985px) {
body{
  margin: 0;
  padding: 0;
}
.intro{
   height: 100vh; 
  }
  .docbox1{
    top: -8%;
    right: 0%;
  }
  .docbox2{
    
    top: 21%;
    left: 57%;
    
  }
  .docbox3{
    top: 8%;
   left: 11%;
  }
  .docbox4{
    top:32%;
  left: 10%;
  margin-bottom: 10px;
  }
  .img-box1{
    width: 180px;
    height: 200px;
  }
  .img-box2{
    width: 180px;
    height: 180px;
  }
  .docName{
    position: absolute;
   top:55%;
   left: -90%;
   transform: translateY(-50%);
  }  
}